/* home-------------------------------------------------------------------------------------------- */
.planetsHeading {
    border-top: 1px solid black;
}
  
.cardParent {
width: 80%;
/* height: 300px; */
padding: 30px;
overflow-x: scroll; /*must have*/
background: #f5f5f5;
white-space: nowrap; /*must have*/
}

.cardMapDiv {
box-sizing: border-box; /*must have*/
display: inline-block;
}